<!-- <div class="col-md-12">
  <div class="top-header pb-3 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-white">Login</h1>
    <p class="fw-bold">COD App</p>
  </div>
  <form class="main-form p-5" #maindata="ngForm" >
    <h3>Welcome Back</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
      <input type="text" ngModel name="name" class="form-control" placeholder="Enter Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
      <input type="password" ngModel name="password" class="form-control" placeholder="Enter password" aria-label="Username" aria-describedby="basic-addon1">          
    </div>
    <div class="form-group mb-3">
      <button class="btn btn-primary w-100 form-btn" type="submit" (click)="getlogin(maindata)">SIGN IN</button>
    </div>
    <div class="form-res">
      <input type="checkbox"> Remember password
      <br><br>
      <a href="" class="d-flex justify-content-end">Forget password ?</a> 
    </div>
  </form>
</div> -->

<app-panel-root></app-panel-root>
    <!-- <app-panel-live-score></app-panel-live-score> -->
    <!-- <app-panel-old-result></app-panel-old-result> -->
    <!-- <app-panel-live-user></app-panel-live-user> -->
    <!-- <app-panel-live-gammer></app-panel-live-gammer> -->
    <!-- <app-panel-add-money></app-panel-add-money> -->
    <!-- <app-panel-transfer-money></app-panel-transfer-money> -->