
<table class="table table-sm mt-2 table-bordered table-hover w-75 m-auto">
<h5><span class="fw-bold text-danger"><i class="fa fa-cubes" aria-hidden="true"></i> Live</span> Gammer</h5>
    <tbody class="bg-dark text-light">
        <tr>
            <th>Sr.</th>
            <th>Date</th>
            <th>Time</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Market</th>
            <th>BAT </th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </tbody>
    <tbody *ngFor="let data of liveGamer, index as i">
        <tr>
            <td>{{i + 1}}</td>
            <td>{{data.date}}</td>
            <td>{{data.time}}</td>
            <td>{{data.name}}</td>
            <td>{{data.contact}}</td>
            <td>{{data.market}}</td>
            <td>{{data.batNo}}</td>
            <td>{{data.amount}}</td>
            <td class="text-danger text-center"><a (click)="delGamer(i)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>