<div class="container">
    <div class="row p-5">
        <div *ngIf="error" class="alert alert-danger" role="alert">
            {{error}}
        </div>
        <div class="col-12 bg-light p-5 border w-50 m-auto">
            <form [formGroup]="FormSignup" (ngSubmit)="dataSignup()"  >   
                <h4><span class="text-danger fw-bold">User </span>Signup</h4>
                <div class="col-12 py-2">
                    <label for="UserInput">User Email</label>
                    <input type="text" id="UserInput" placeholder="Enter User name" formControlName="username" class="form-control">
                </div>
                
                <div class="col-12 py-2">
                    <label for="passwordInput">Password</label>
                    <input type="password" id="passwordInput" placeholder="Enter User Password" formControlName="password" class="form-control">
                </div>
                <button class="btn btn-danger btn-block my-1" type="submit"> Signup</button>
            </form>
            Have Account<a class="text-danger" style="text-decoration: none;" routerLink="/login"> Sign in</a><br>
            <a class="text-danger" style="text-decoration: none;" routerLink="/forget" >Forget Password ?</a>    
        </div>
    </div>
</div>